/* import Google Font "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* add coor variables */
:root{
  --accent-color: rgb(97, 97, 194) ;
  --base-color: skyblue;
  --text-color: black;
  --input-color: ;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}
body{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper{
  padding: 10px;
  /* width: 100%; */
  background-color: var(--base-color);
  /* width: max(50%,600px);; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 3rem;
  text-transform: uppercase;
}
form{
  width: min(400px,100%);
}
form > div{
  box-sizing: border-box;
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
form label{
  /* border: 1px solid black; */
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  background-color: var(--accent-color);
  /* fill: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
form input{
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: auto;
  /* border-radius: 0px 1px 1px 0px; */
  /* transition: 150ms ease; */
}
form input:hover{
  border-color: var(--accent-color);
}
form input:focus{
  outline: none;
}
form button{
  margin-top: 10px;
  border: none;
  padding: .85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  /* font: inherit; */
  border-radius: 100px;
  cursor: pointer;
}
form button:hover{
  background-color: var(--text-color);
}
@media(max-width: 1100px){
  .wrapper{
    width: min(600px, 100%);
  }
}
.incorrect label{
  background-color: rgb(255, 150, 150);
}
.incorrect input{
  background-color: rgb(255, 150, 150);
}
#error-message{
  color: red;
}